<%- include('../layout/head.ejs')%>
<header class="header">
    <%- include('../layout/header.ejs')%>
    <%- include('../layout/nav.ejs')%>
</header>

<main class="main">
    <section class="pith-create">
        <div class="container">
            <h3 class="pith-create__headline" id="<%=clients.id %>">Залишки клієнта: <%=clients.headline %></h3>
            <form action="" class="pith-create__form">
                <div class="client-info__box">
                    <div class="client-info__item"><input id="pith-create__data" class="client-info__input" type="text" placeholder="Дата"></div>
                    <div class="client-info__item"><input id="pith-create__title" class="client-info__input" type="text" placeholder="Назва залишків"></div>
                    <div class="client-info__item"><input id="pith-create__number" class="client-info__input" type="text" placeholder="Кількість залишків"></div>
                    <div class="client-info__item"><input id="pith-create__price" class="client-info__input" type="text" placeholder="Ціна залишків"></div>
                    <div class="client-info__item"><input id="pith-create__rosdb" class="client-info__input" type="text" placeholder="Ціна роздрібна"></div>
                    <div class="client-info__item"><input  class="button pith-create__button" type="submit" value="Створити"></div>
                </div>
            </form>
        </div>
    </section>
    <section class="pith-out">
        <div class="container">
            <div class="pith-out__comeback">
                <a href="/products/<%=clients.url %>" class="pith-out__comeback--link">Повернутися назад</a>
            </div>
            <div class="pith-table__debt">
                <div class='pith-table__point' > 
                    <div class='pith-table__point--line'> 
                        <h3 class='table__point--out'>Сума залишків клієнта:
                            <% for (var j = 0; j < pross.length; j++) { %>
                                <% if(pross[j]["_id"] == clients.id) { %>
                                    <%=pross[j]["salary"]%>
                                <% } %>
                            <% } %>
                        </h3> 
                    </div>
                </div>    
        </div>
            <div class="pith-table">
                <div class="pith-table__box pith-table__box--head">
                    <div class="pith-table__item">
                        <h3 class="pith-table__text pith-table__text--head"><span class="pith-table__text--responsive">№</span>№</h3>
                    </div>
                    <div class="pith-table__item">
                        <h3 class="pith-table__text pith-table__text--head"><span class="pith-table__text--responsive">Дата</span>Дата</h3>
                    </div>
                    <div class="pith-table__item">
                        <h3 class="pith-table__text pith-table__text--head"><span class="pith-table__text--responsive">Назва залишків</span>Назва залишків</h3>
                    </div>
                    <div class="pith-table__item">
                        <h3 class="pith-table__text pith-table__text--head"><span class="pith-table__text--responsive">Кількість</span>Кількість</h3>
                    </div>
                    <div class="pith-table__item">
                        <h3 class="pith-table__text pith-table__text--head"><span class="pith-table__text--responsive">Ціна</span>Ціна</h3>
                    </div>
                    <div class="pith-table__item">
                        <h3 class="pith-table__text pith-table__text--head"><span class="pith-table__text--responsive">Ціна роздрібна</span>Ціна роздрібна</h3>
                    </div>
                    <div class="pith-table__item">
                        <h3 class="pith-table__text pith-table__text--head"><span class="pith-table__text--responsive">Розраховувати</span>Розраховувати</h3>
                    </div>
                    <div class="pith-table__item">
                        <h3 class="pith-table__text pith-table__text--head"><span class="pith-table__text--responsive">Внести зміни</span>Внести зміни</h3>
                    </div>
                 </div>
                 <% for(var i = piths.length-1; i >= 0; i--) { %>
                 <div class="pith-table__box">
                    <div class="pith-table__item">
                        <h3 class="pith-table__text"><span class="pith-table__text--responsive">№: </span><%=i %></h3>
                    </div>
                    <div class="pith-table__item">
                        <h3 class="pith-table__text"><span class="pith-table__text--responsive">Дата: </span><%= piths[i].data %></h3>
                    </div>
                    <div class="pith-table__item">
                        <h3 class="pith-table__text"><span class="pith-table__text--responsive">Назва залишків: </span><%= piths[i].title %></h3>
                    </div>
                    <div class="pith-table__item">
                        <h3 class="pith-table__text"><span class="pith-table__text--responsive">Кількість: </span><%= piths[i].number %></h3>
                    </div>
                    <div class="pith-table__item">
                        <h3 class="pith-table__text"><span class="pith-table__text--responsive">Ціна: </span><%= piths[i].price %></h3>
                    </div>
                    <div class="pith-table__item">
                        <h3 class="pith-table__text"><span class="pith-table__text--responsive">Ціна роздрібна: </span><%= piths[i].rosdb %></h3>
                    </div>
                    <% if(piths[i].math == true) { %>
                        <div class="pith-table__item done">
                            <div class="client-product__math" id="<%=piths[i].id %>">
                                <input type="checkbox" checked class="client-product__math--check" value="false">
                            </div>
                        </div>
                    <% } else { %>
                        <div class="pith-table__item car-expect">
                            <div class="client-product__math" id="<%=piths[i].id %>">
                                <input type="checkbox" class="client-product__math--check" value="true">
                            </div>
                        </div>
                    <% } %>
                    <div class="pith-table__item">
                        <a class="client-product__line--link" href="/pithsedit/<%=piths[i].id %>">Зробити зміни</a>
                    </div>
                 </div>
                 <% } %>
             </div>
        </div>
    </section>
</main>
<%- include('../layout/footer.ejs')%>